<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand mr-lg-5" href="/Default/Index/">
                    <img src="@Url.Content("~/Logo.png")" alt="GezGez" class="brand-logo" style="height:100px; width:auto;" />
                 </a>
            </h1>
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Default/Index/">Ana Sayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/About/Index/">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/DestinationController1/Index/">Metarial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Guide/Index/">Rehberlerimiz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Contact/Index/">İletişim</a>
                    </li>

                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Profilim<span class="fa fa-angle-down"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="/Member/DashBoard/MemberDashboard/">
                            <i class="fa fa-user"></i> Profilim
                        </a>
                        <a class="dropdown-item" href="/Member/Profile/Index/">
                            <i class="fa fa-plus"></i> Yeni Rezervasyon Yap
                        </a>
                        <a class="dropdown-item" href="/Member/Reservation/MyCurrentReservation/">
                            <i class="fa fa-calendar"></i> Aktif Rezervasyon
                        </a>
                        <a class="dropdown-item" href="/Member/Reservation/MyOldReservation/">
                            <i class="fa fa-history"></i> Eski Rezervasyon
                        </a><a class="dropdown-item" href="/Member/Reservation/MyApprovalReservation/">
                            <i class="fa fa-hourglass-half"></i> Bekleyen Rezervasyon
                        </a>

                        <a class="dropdown-item" href="/Member/Profile/Index/">
                            <i class="fa fa-cogs"></i> Ayarlar
                        </a>


                        <a class="dropdown-item" href="@Url.Action("LogOut","Login")">
                            <i class="fa fa-power-off"></i> Çıkış Yap
                        </a>
                    </div>
                </li>


                @* <div class="d-lg-block d-none">
                    <a href="/Member/Profile/Index/" class="btn btn-style btn-secondary">Profilim</a>
                </div> *@
            }
            else
            {

                <div class="d-lg-block d-none">
                    <a href="/Member/Reservation/NewReservation/" class="btn btn-style btn-secondary">Rezervasyon Yap</a>
                </div>
            }
            <!-- toggle switch for light and dark theme -->
            <div class="mobile-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>