<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri ve İstatistikleriniz</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Kullanıcı dashboard panalinde bulunmaktasınız aşağıda sizin ve acentamızın bazı bilgileri yer almaktadır.</p>
                <h4 class="card-title">............</h4>
                <h6>Aktif Rezervasyon Sayınız: 4</h6>
                <h6>Geçmiş Rezervasyon Sayınız: 4</h6>
                <h6>Onay Bekleyen Rezervasyon Sayınız: 4</h6>
                <h6>Toplam Rota Sayısı: 4</h6>
                <h6>Rehber Sayımız: 4</h6>
                <h6>Toplam Misafir Sayımız: 4</h6>
                <h6>Ortalama Puanımız: 4.86/5</h6>
            </div>
        </div>
    </div>
</div>

