@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateteRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="RoleId" />
    <label>Rol Adı</label>
    <input type="text" class="form-control" asp-for="RoleName" />
    <br />
    <button class="btn btn-outline-success">Rolü Güncelle</button>
</form>