
<div class="best-rooms py-5">
    <div class="container py-md-5">
        <div class="ban-content-inf row">
            <div class="maghny-gd-1 col-lg-6">
                <div class="maghny-grid">
                    <figure class="effect-lily border-radius  m-0">
                        <img class="img-fluid" src="~/Traversal-Liberty/assets/images/umre.jpg" alt="" />
                        <figcaption>
                            <div>
                                <h4>Umre Turları</h4> 
                            </div>

                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                <div class="row">
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/turkey.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Yurtiçi Turları</h4>
                                        <p>1850 $ den başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g11.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Yurtdışı Turları</h4> 
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g7.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>Yaz Turları</h4>
                                        <p>1200 $ dan başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-6 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/Traversal-Liberty/assets/images/g6.jpg" alt="" />
                                <figcaption>
                                    <div>
                                        <h4>İlkbahar Turları</h4>
                                        <p>2500 $ dan başlayan fiyatlar</p>
                                    </div>

                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>